{% extends '../index.html' %}

{% block content %}
{% load static %}
<div>
  <img src="https://source.unsplash.com/1400x400/? defence books," class="img-fluid" alt="...">
  <div class="container my-4">
      <div class="row my-3">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Motivational books</h5>
              <p class="card-text">For all kinds of readers who needs motivation.</p>
              <a href="books/inspirational" class="btn btn-primary">GO</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Defence Books</h5>
              <p class="card-text">For all the Defence aspirants appearing for the defence exams. </p>
              <a href="books/defence" class="btn btn-primary">GO</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">College level Books.</h5>
              <p class="card-text">For all degree students</p>
              <a href="books/college" class="btn btn-primary">GO</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Novels</h5>
              <p class="card-text">For all the book readers </p>
              <a href="books/novels" class="btn btn-primary">GO</a>
            </div>
          </div>
      </div>
      </div>
  </div>
</div>

{% endblock %}