{% extends '../../index.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'styles/inspiration.css' %}"/>
<section id="books-list">
    {% for card in cards %}
    <div class="card">
        <img src="{% static '/images/' %}{{ card.product_path }}" alt="Wings Of Fire" class="book-img">
        <h3 style="margin: 10px 0px 5px 0px">{{ card.product_name | truncatechars:20 }}</h3>
        <p class="price" style="margin: 5px 0px 10px 0px">₹ {{ card.price }}</p>
        <p style="margin: 5px; text-align: start">{{ card.description | truncatechars:100 }}</p>
        <button class="mb-2">Add to Cart</button>
    </div>
    {% endfor %}
</section>

{% endblock %}
